<div class="container">
  <div class="sidebar">
    <ul class="nav nav-pills nav-stacked">
      {{#each todo in model}}
        {{#link-to 'category' todo tagName="li"}}<a>{{todo.name}}</a>{{/link-to}}
      {{/each }}
    </ul>
  </div>

  <div class="main-content">
    {{outlet}}
  </div>
</div>
